.circle{
    border-radius: 50px;
    background-color: rgba(90, 90, 90, 0.521);
    height: max(min(4vw,4vh),40px);
    width: max(min(4vw,4vh),40px);
    box-shadow: 0 0 10px #fff,0 0 15px red,0 0 20px red;
}

.plus {
    color: #fff;
    font-size: max(min(4vw,4vh),40px);
}