*{
    z-index: 1;
}

:root{
    --start-color:rgb(255, 0, 187);
    --end-color:rgb(230, 0, 255);
    --search-area:rgb(255, 0, 0);
}

.searchArea{
    height: 3vh;
    width: 40vw;
    background-color: rgba(90, 90, 90, 0.521);
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    padding: 1vw;
    border-radius: 30px;
    color: white;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--search-area),0 0 20px var(--search-area),0 0 25px var(--search-area),0 0 30px var(--search-area);
    
}

.searchBar{
    font-size: 3vh;
    height: 3vh;
    width: 35vw;
    background-color: transparent;
    border-width: 0px;
    color: inherit;
}

.searchBar:focus{
    outline: none;
}

.searchButton{
    font-size: 4vh;
    size: 300px;
    color: white;
}

.searchButton:hover{
    cursor: pointer;
}

.glow{
    color: white;
    font-size: max(2vw,20px);
    margin-bottom: 40px;
    animation: colorChange 2s linear infinite;
    display: flex;
    flex-direction: row;
}


@keyframes colorChange {
    0%{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--start-color), 0 0 20px var(--start-color), 0 0 25px var(--start-color), 0 0 30px var(--start-color), 0 0 35px var(--start-color), 0 0 40px var(--start-color);
    }
    50%{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--end-color), 0 0 20px var(--end-color), 0 0 25px var(--end-color), 0 0 30px var(--end-color), 0 0 35px var(--end-color), 0 0 40px var(--end-color);
    }
    100%{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--start-color), 0 0 20px var(--start-color), 0 0 25px var(--start-color), 0 0 30px var(--start-color), 0 0 35px var(--start-color), 0 0 40px var(--start-color);
    }
    
}

.flicker{
    padding-left: 10px;
    animation: flicker 5s linear infinite;
}

@keyframes flicker {
    0%{
        opacity: 100%;
    }
    20%{
        opacity: 100%;
    }
    21%{
        opacity: 0%;
    }
    22%{
        opacity: 100%;
    }
    30%{
        opacity: 100%;
    }
    31%{
        opacity: 0%;
    }
    32%{
        opacity: 100%;
    }
    35%{
        opacity: 100%;
    }
    36%{
        opacity: 0%;
    }
    37%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}